.trasparente {
  background: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 8px 4px rgba(255, 255, 255, 0.4) !important;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.trasparente:hover {
  background-color: rgba(5, 2, 2, 0.041) !important;
}
#colorPlaceholder::placeholder {
  color: darkgoldenrod;
}
.select option {
  background-color: #212529;
  border: #212529 !important;
}
