.sfondo {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 20px;
  overflow: hidden;
}
.card-template-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.user-photo-wrapper {
  position: absolute;

  top: 81px;
  left: 48%;

  transform: translateX(-50%);

  width: 130px;
  height: 179px;
  border-radius: 50%;

  overflow: hidden;
  z-index: 10;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name-overlay {
  position: absolute;
  top: 365px;

  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  z-index: 10;
}

.surname {
  position: absolute;
  top: 385px;

  width: 100%;
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  z-index: 10;
}

.user-role-overlay {
  position: absolute;

  top: 50px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 1em;
  z-index: 10;
}
