.imgsize {
  width: 50px;
}
.form-strategia:disabled {
  background-color: rgba(255, 255, 255, 0.041) !important;
}
.form-strategia:focus {
  background-color: rgba(255, 255, 255, 0.041) !important;
}
